flows.json
[
    {
        "id": "3e234f70437bd3be",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e07e4c26beb8b4f7",
        "type": "tab",
        "label": "Flow_Alarm_ML_10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f5798233d6334e6",
        "type": "MSSQL-CN",
        "z": "e07e4c26beb8b4f7",
        "tdsVersion": "7_4",
        "name": "SQL Server",
        "server": "DESKTOP-UEMD3BN\\MSSQLSERVER2022",
        "port": "1433",
        "encyption": false,
        "trustServerCertificate": true,
        "database": "JBM",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "ed6e858907750669",
        "type": "s7 endpoint",
        "z": "e07e4c26beb8b4f7",
        "transport": "iso-on-tcp",
        "address": "192.168.1.50",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": "1000",
        "name": "",
        "vartable": [
            {
                "addr": "DB100,X0.0",
                "name": "ML10_1"
            },
            {
                "addr": "DB100,X0.1",
                "name": "ML10_2"
            },
            {
                "addr": "DB100,X0.2",
                "name": "ML10_3"
            },
            {
                "addr": "DB100,X0.3",
                "name": "ML10_4"
            },
            {
                "addr": "DB100,X0.4",
                "name": "ML10_5"
            },
            {
                "addr": "DB100,X4.5",
                "name": "ML10_6"
            },
            {
                "addr": "DB100,X5.0",
                "name": "ML10_7"
            },
            {
                "addr": "DB100,X7.0",
                "name": "ML10_8"
            },
            {
                "addr": "DB100,X7.1",
                "name": "ML10_9"
            },
            {
                "addr": "DB100,X7.2",
                "name": "ML10_10"
            },
            {
                "addr": "DB100,X7.3",
                "name": "ML10_11"
            },
            {
                "addr": "DB100,X7.4",
                "name": "ML10_12"
            },
            {
                "addr": "DB100,X7.5",
                "name": "ML10_13"
            },
            {
                "addr": "DB100,X6.0",
                "name": "ML10_14"
            },
            {
                "addr": "DB100,X6.1",
                "name": "ML10_15"
            },
            {
                "addr": "DB100,X6.2",
                "name": "ML10_16"
            },
            {
                "addr": "DB100,X6.3",
                "name": "ML10_17"
            },
            {
                "addr": "DB100,X6.4",
                "name": "ML10_18"
            },
            {
                "addr": "DB100,X27.0",
                "name": "ML10_19"
            },
            {
                "addr": "DB100,X27.1",
                "name": "ML10_20"
            },
            {
                "addr": "DB100,X27.2",
                "name": "ML10_21"
            },
            {
                "addr": "DB100,X27.3",
                "name": "ML10_22"
            },
            {
                "addr": "DB100,X27.4",
                "name": "ML10_23"
            },
            {
                "addr": "DB100,X27.5",
                "name": "ML10_24"
            },
            {
                "addr": "DB100,X27.6",
                "name": "ML10_25"
            },
            {
                "addr": "DB100,X27.7",
                "name": "ML10_26"
            },
            {
                "addr": "DB100,X28.0",
                "name": "ML10_27"
            },
            {
                "addr": "DB100,X28.1",
                "name": "ML10_28"
            },
            {
                "addr": "DB100,X28.2",
                "name": "ML10_29"
            },
            {
                "addr": "DB100,X28.3",
                "name": "ML10_30"
            },
            {
                "addr": "DB100,X39.4",
                "name": "ML10_31"
            },
            {
                "addr": "DB100,X85.0",
                "name": "ML10_32"
            },
            {
                "addr": "DB100,X85.1",
                "name": "ML10_33"
            },
            {
                "addr": "DB100,X85.2",
                "name": "ML10_34"
            },
            {
                "addr": "DB100,X85.3",
                "name": "ML10_35"
            },
            {
                "addr": "DB100,X85.4",
                "name": "ML10_36"
            },
            {
                "addr": "DB100,X85.5",
                "name": "ML10_37"
            },
            {
                "addr": "DB100,X85.6",
                "name": "ML10_38"
            },
            {
                "addr": "DB100,X85.7",
                "name": "ML10_39"
            },
            {
                "addr": "DB100,X86.0",
                "name": "ML10_40"
            },
            {
                "addr": "DB100,X86.1",
                "name": "ML10_41"
            },
            {
                "addr": "DB100,X86.2",
                "name": "ML10_42"
            },
            {
                "addr": "DB100,X86.3",
                "name": "ML10_43"
            },
            {
                "addr": "DB100,X86.4",
                "name": "ML10_44"
            },
            {
                "addr": "DB100,X86.5",
                "name": "ML10_45"
            },
            {
                "addr": "DB100,X86.6",
                "name": "ML10_46"
            },
            {
                "addr": "DB100,X86.7",
                "name": "ML10_47"
            },
            {
                "addr": "DB100,X87.0",
                "name": "ML10_48"
            },
            {
                "addr": "DB100,X87.1",
                "name": "ML10_49"
            },
            {
                "addr": "DB100,X87.2",
                "name": "ML10_50"
            },
            {
                "addr": "DB100,X87.3",
                "name": "ML10_51"
            },
            {
                "addr": "DB100,X87.4",
                "name": "ML10_52"
            },
            {
                "addr": "DB100,X87.5",
                "name": "ML10_53"
            },
            {
                "addr": "DB100,X87.6",
                "name": "ML10_54"
            },
            {
                "addr": "DB100,X87.7",
                "name": "ML10_55"
            },
            {
                "addr": "DB100,X88.0",
                "name": "ML10_56"
            },
            {
                "addr": "DB100,X88.1",
                "name": "ML10_57"
            },
            {
                "addr": "DB100,X88.2",
                "name": "ML10_58"
            },
            {
                "addr": "DB100,X88.3",
                "name": "ML10_59"
            },
            {
                "addr": "DB100,X88.4",
                "name": "ML10_60"
            },
            {
                "addr": "DB100,X88.5",
                "name": "ML10_61"
            },
            {
                "addr": "DB100,X88.6",
                "name": "ML10_62"
            },
            {
                "addr": "DB100,X88.7",
                "name": "ML10_63"
            },
            {
                "addr": "DB100,X89.0",
                "name": "ML10_64"
            },
            {
                "addr": "DB100,X89.1",
                "name": "ML10_65"
            },
            {
                "addr": "DB100,X89.2",
                "name": "ML10_66"
            },
            {
                "addr": "DB100,X89.3",
                "name": "ML10_67"
            },
            {
                "addr": "DB100,X89.4",
                "name": "ML10_68"
            },
            {
                "addr": "DB100,X89.5",
                "name": "ML10_69"
            },
            {
                "addr": "DB100,X89.6",
                "name": "ML10_70"
            },
            {
                "addr": "DB100,X89.7",
                "name": "ML10_71"
            },
            {
                "addr": "DB100,X90.0",
                "name": "ML10_72"
            },
            {
                "addr": "DB100,X90.1",
                "name": "ML10_73"
            },
            {
                "addr": "DB100,X90.2",
                "name": "ML10_74"
            },
            {
                "addr": "DB100,X90.3",
                "name": "ML10_75"
            },
            {
                "addr": "DB100,X90.4",
                "name": "ML10_76"
            },
            {
                "addr": "DB100,X90.5",
                "name": "ML10_77"
            },
            {
                "addr": "DB100,X90.6",
                "name": "ML10_78"
            },
            {
                "addr": "DB100,X90.7",
                "name": "ML10_79"
            },
            {
                "addr": "DB100,X91.0",
                "name": "ML10_80"
            },
            {
                "addr": "DB100,X91.1",
                "name": "ML10_81"
            },
            {
                "addr": "DB100,X91.2",
                "name": "ML10_82"
            },
            {
                "addr": "DB100,X91.3",
                "name": "ML10_83"
            },
            {
                "addr": "DB100,X91.4",
                "name": "ML10_84"
            },
            {
                "addr": "DB100,X91.5",
                "name": "ML10_85"
            },
            {
                "addr": "DB100,X91.6",
                "name": "ML10_86"
            },
            {
                "addr": "DB100,X91.7",
                "name": "ML10_87"
            },
            {
                "addr": "DB100,X92.0",
                "name": "ML10_88"
            },
            {
                "addr": "DB100,X92.1",
                "name": "ML10_89"
            },
            {
                "addr": "DB100,X92.2",
                "name": "ML10_90"
            },
            {
                "addr": "DB100,X92.3",
                "name": "ML10_91"
            },
            {
                "addr": "DB100,X92.4",
                "name": "ML10_92"
            },
            {
                "addr": "DB100,X92.5",
                "name": "ML10_93"
            },
            {
                "addr": "DB100,X92.6",
                "name": "ML10_94"
            },
            {
                "addr": "DB100,X92.7",
                "name": "ML10_95"
            },
            {
                "addr": "DB100,X93.0",
                "name": "ML10_96"
            },
            {
                "addr": "DB100,X93.1",
                "name": "ML10_97"
            },
            {
                "addr": "DB100,X93.2",
                "name": "ML10_98"
            },
            {
                "addr": "DB100,X93.3",
                "name": "ML10_99"
            },
            {
                "addr": "DB100,X93.4",
                "name": "ML10_100"
            },
            {
                "addr": "DB100,X93.5",
                "name": "ML10_101"
            },
            {
                "addr": "DB100,X93.6",
                "name": "ML10_102"
            },
            {
                "addr": "DB100,X93.7",
                "name": "ML10_103"
            },
            {
                "addr": "DB100,X94.0",
                "name": "ML10_104"
            },
            {
                "addr": "DB100,X94.1",
                "name": "ML10_105"
            },
            {
                "addr": "DB100,X94.2",
                "name": "ML10_106"
            },
            {
                "addr": "DB100,X94.3",
                "name": "ML10_107"
            },
            {
                "addr": "DB100,X104.0",
                "name": "ML10_108"
            },
            {
                "addr": "DB100,X104.1",
                "name": "ML10_109"
            },
            {
                "addr": "DB100,X104.2",
                "name": "ML10_110"
            },
            {
                "addr": "DB100,X104.3",
                "name": "ML10_111"
            },
            {
                "addr": "DB100,X106.0",
                "name": "ML10_112"
            },
            {
                "addr": "DB100,X106.1",
                "name": "ML10_113"
            },
            {
                "addr": "DB100,X106.2",
                "name": "ML10_114"
            },
            {
                "addr": "DB100,X106.3",
                "name": "ML10_115"
            },
            {
                "addr": "DB100,X107.1",
                "name": "ML10_116"
            },
            {
                "addr": "DB100,X107.2",
                "name": "ML10_117"
            },
            {
                "addr": "DB100,X107.3",
                "name": "ML10_118"
            },
            {
                "addr": "DB100,X107.4",
                "name": "ML10_119"
            },
            {
                "addr": "DB100,X109.1",
                "name": "ML10_120"
            },
            {
                "addr": "DB100,X109.5",
                "name": "ML10_121"
            },
            {
                "addr": "DB100,X109.6",
                "name": "ML10_122"
            },
            {
                "addr": "DB100,X110.5",
                "name": "ML10_123"
            },
            {
                "addr": "DB303,X0.1",
                "name": "ML10_124"
            },
            {
                "addr": "DB350,X2.0",
                "name": "ML10_125"
            },
            {
                "addr": "DB350,X2.1",
                "name": "ML10_126"
            },
            {
                "addr": "DB350,X2.2",
                "name": "ML10_127"
            },
            {
                "addr": "DB350,X2.3",
                "name": "ML10_128"
            },
            {
                "addr": "DB350,X3.6",
                "name": "ML10_129"
            },
            {
                "addr": "DB350,X6.7",
                "name": "ML10_130"
            },
            {
                "addr": "DB350,X8.2",
                "name": "ML10_131"
            },
            {
                "addr": "DB350,X8.3",
                "name": "ML10_132"
            },
            {
                "addr": "DB395,X0.1",
                "name": "ML10_133"
            },
            {
                "addr": "DB395,X0.2",
                "name": "ML10_134"
            },
            {
                "addr": "DB395,X0.3",
                "name": "ML10_135"
            },
            {
                "addr": "DB395,X0.4",
                "name": "ML10_136"
            },
            {
                "addr": "DB395,X0.5",
                "name": "ML10_137"
            },
            {
                "addr": "DB395,X0.6",
                "name": "ML10_138"
            },
            {
                "addr": "DB395,X6.0",
                "name": "ML10_139"
            },
            {
                "addr": "DB395,X6.1",
                "name": "ML10_140"
            },
            {
                "addr": "DB395,X6.2",
                "name": "ML10_141"
            },
            {
                "addr": "DB395,X6.3",
                "name": "ML10_142"
            },
            {
                "addr": "DB350,X9.0",
                "name": "ML10_148"
            },
            {
                "addr": "DB350,X9.1",
                "name": "ML10_149"
            },
            {
                "addr": "DB350,X9.2",
                "name": "ML10_150"
            },
            {
                "addr": "DB350,X9.3",
                "name": "ML10_151"
            },
            {
                "addr": "DB100,X68.4",
                "name": "ML10_152"
            },
            {
                "addr": "DB100,X68.5",
                "name": "ML10_153"
            },
            {
                "addr": "DB100,X68.6",
                "name": "ML10_154"
            },
            {
                "addr": "DB100,X68.7",
                "name": "ML10_155"
            }
        ]
    },
    {
        "id": "2caf7da1d841fdb1",
        "type": "debug",
        "z": "e07e4c26beb8b4f7",
        "name": "Print ML_10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "36a328d08b9421fc",
        "type": "MSSQL",
        "z": "e07e4c26beb8b4f7",
        "mssqlCN": "5f5798233d6334e6",
        "name": "SQL ML_10",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "execute",
        "queryOpt": "payloadd",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": false,
        "params": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "2caf7da1d841fdb1"
            ]
        ]
    },
    {
        "id": "e5b428836bc0c824",
        "type": "function",
        "z": "e07e4c26beb8b4f7",
        "name": "function ML_10",
        "func": "let currentAlarms = msg.payload;\nlet lastAlarms = flow.get(\"lastAlarms\") || {};\nlet messages = [];\n\nfor (let key in currentAlarms) {\n    let newMsg = {};\n    // Rising edge: false → true\n    if (currentAlarms[key] === true && lastAlarms[key] !== true) {\n       // let newMsg = {};\n        newMsg.payloadd= \"SP_Alarm_Insert_ML10\",\n            newMsg.queryParams= [\n                { name: \"AlarmCode\", value: key.toString() }\n            ]\n        \n        messages.push(newMsg);\n    }\n\n    // Falling edge: true → false\n    if (currentAlarms[key] === false && lastAlarms[key] === true) {\n       // let newMsg = {};\n        newMsg.payloadd = \"SP_Alarm_Update_ML10\",\n            newMsg.queryParams = [\n                { name: \"AlarmCode\", value: key.toString() }\n            ]\n            \n        messages.push(newMsg);\n    }\n}\n\n\n\n// for (let i = 1; i <= 10; i++) {\n//     node.warn(i);\n//     let newMsg = {}\n//         newMsg.payloadd= \"SP_Alarm_Insert_ML10\",\n//         newMsg.queryParams= [\n//             { name: \"AlarmCode\", value: \"Alarm\" + i }\n//         ]\n   \n//     messages.push(newMsg);\n// }\n\n// Save current state\nflow.set(\"lastAlarms\", currentAlarms);\n\n// Send all generated alarm messages\nreturn [messages];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"lastAlarms\", undefined);",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "36a328d08b9421fc"
            ]
        ]
    },
    {
        "id": "2a1a0231300deaf7",
        "type": "s7 in",
        "z": "e07e4c26beb8b4f7",
        "endpoint": "ed6e858907750669",
        "mode": "all",
        "variable": "Alarm1",
        "diff": true,
        "name": "S7 Node ML_10",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "e5b428836bc0c824"
            ]
        ]
    },
    {
        "id": "ac9a6eddc6c1adc3",
        "type": "function",
        "z": "e07e4c26beb8b4f7",
        "name": "ERROR FUNCTION",
        "func": "msg.payload = `[${new Date().toLocaleString()}] ERROR: ${msg.error.message}\\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "343a938a26e2e1bc"
            ]
        ]
    },
    {
        "id": "343a938a26e2e1bc",
        "type": "file",
        "z": "e07e4c26beb8b4f7",
        "name": "",
        "filename": "D:\\JBM\\Log\\ML_10_Error.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "13e133f8e22bf283"
            ]
        ]
    },
    {
        "id": "3d016b0c7d9b7d75",
        "type": "catch",
        "z": "e07e4c26beb8b4f7",
        "name": "",
        "scope": [
            "36a328d08b9421fc",
            "e5b428836bc0c824",
            "2a1a0231300deaf7"
        ],
        "uncaught": false,
        "x": 70,
        "y": 240,
        "wires": [
            [
                "ac9a6eddc6c1adc3"
            ]
        ]
    },
    {
        "id": "13e133f8e22bf283",
        "type": "debug",
        "z": "e07e4c26beb8b4f7",
        "name": "Error Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    }
]